input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
}

.stundetLoginMainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
}

.loginContainer {
  width: 400px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.studentLoginTitle {
  text-align: center;
  margin-bottom: 20px;
}

.loginFormContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.studentLoginInputContainer {
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.chooseStudentLoginInputContainer {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.studentLoginInputLabel {
  margin-bottom: 5px;
}

.chooseStudentInputRadioButton {
  margin-bottom: 5px;
  margin-left: 5px;
}

.chooseStudentInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.studentLoginInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitBtn {
  width: 35%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.sudentSubmitBtn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.adminSubmitBtn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Navbar */
.studentNavBar {
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fafafa;
  color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.studentNavBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.studentNavBarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  margin-right: 20px;
  color: #5d5d5d;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.active-nav-link {
  color: #007bff;
}

.masterPageSelectInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
}

.masterPageInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
}

.costLogTable {
  width: 95%;
  border-collapse: collapse;
  margin: 10px 0;
}

.studentDSDContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 100vh; */
  background-color: #fafafa;
  width: 55%;
  min-height: 75vh;
  padding: 10px 10px;
  flex-direction: column;
  margin: 100px 0 50px 0;
}

.adminMasterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 100vh; */
  background-color: #fafafa;
  width: 55%;
  min-height: 15vh;
  padding: 10px 10px;
  flex-direction: column;
  margin: 100px 0 50px 0;
}

.studentDetailsContainer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px 0;
}

.studentDocumentDetails {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.studentDocument {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.tableInputField {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  /* margin-bottom: 20px; */
  height: 15px;
  font-size: 15px;
}

.studentDocumentSubmit {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studentDSDBtn {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deliveryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 10px 10px;
  flex-direction: column;
}

.deliverySelectModeOfDelivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
}

.deliveryAddress {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 60%;
  margin-bottom: 20px;
}

.modeofDeliverySelect,
.deliveryAddressInputBar {
  width: 275px;
  padding: 10px 0 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selectedDocumentDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.selectedDocumentsTable {
  width: 95%;
  border-collapse: collapse;
  margin: 10px 0;
}

.selectedDocumentDetailsTitle {
  width: 90%;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 20px;
}

.selectedDocumentTotalCost {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 20px;
}

.studentSelectedDocsBackBtn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #007bff;
  border: 1px solid #007bff;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentSelectedDocsPayBtn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentStatusContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px 0;
  font-size: 15px;
}

.studentStatusSubContainer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fafafa;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-left: 3px solid #007bff;
}

.pandingStatusColorSubContainer {
  border-left: 3px solid #e77c40;
}

.paddingStatusColor {
  color: #e77c40;
}

.completedStatusColorSubContainer {
  border-left: 3px solid #43a943;
}

.completedStatusColor {
  color: #43a943;
}

.adminNavigationOption {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.searchBarContainer {
  margin-top: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.searchInputForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.searchInput {
  width: 50%;
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.searchInput::selection {
  border: none;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 10px;
  z-index: 50;
}

.adminDashboardContainer {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 90%;
  padding: 20px 20px;
  /* background-color: #fafafa; */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
  margin-top: 120px;
}

.adminDashboardMainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px 0;
  min-height: 100vh;
}

.adminDocsBtn {
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 50px;
  background-color: #555;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.adminDocsBtn::selection {
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

th {
  text-align: left;
  /* Or 'center' or 'right' based on your preference */
}

td {
  text-align: left;
}

/* Consistent spacing */
th,
td {
  padding: 0;
  /* Or inherit padding from parent */
  border: 1px solid #9d9d9d;
  /* margin-top: 10px; */
}

/* Header background color */
thead {
  /* background-color: gray;  */
  margin: 10px 0;
}

tbody {
  margin: 10px 0;
}

.modalCont {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}

.modal {
  width: 1000px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  z-index: 101;
}

.modalTitle {
  text-align: center;
  margin-bottom: 20px;
}

.modalInputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.modalSubmitBtn {
  width: 35%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.modalCloseBtn {
  width: 35%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #e77c40;
  color: #fff;
  cursor: pointer;
}

.close {
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.postDetailsBelowStatusUpdate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.postDetailsInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.postedSubmitBtn {
  width: 320px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.labelForPostDetailsUpdatation {
  margin-bottom: 5px;
}

.studentDashboardBtn {
  padding: 2px 15px;
  border: none;
  border-radius: 50px;
  background-color: #676768;
  color: #fff;
  cursor: pointer;
}

.studentDashboardTable {
  width: 95%;
  border-collapse: collapse;
  margin: 10px 0;
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.docNameInputBar,
.docCostInputBar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.adminMasterAddDocBtn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.updateStatusInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

#updateStatusInputCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.adminAddressEditBtn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #4b4b4b;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dataTableColumns {
  border-right: 1px solid black;
  margin-right: 10px;
  /* border-color: ; */
}

.rowClassName {
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.pendingColor {
  background-color: #e79d42;
}

.issuedColor {
  background-color: #007bff;
}

.completedColor {
  background-color: #43a943;
}

.rejectedColor {
  background-color: rgb(203, 15, 15);
}

.errorTextInStudentLogin {
  color: red;
  font-size: small;
  font-weight: bold;
}

@media only screen and (max-width: 1250px) {
  .studentDSDContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    background-color: #fafafa;
    width: 70%;
    min-height: 75vh;
    padding: 10px 10px;
    flex-direction: column;
    margin: 100px 0 50px 0;
  }

  .adminMasterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    background-color: #fafafa;
    width: 70%;
    min-height: 15vh;
    padding: 10px 10px;
    flex-direction: column;
    margin: 100px 0 50px 0;
  }

  .modeofDeliverySelect,
  .deliveryAddressInputBar {
    width: 50%;
    padding: 10px 0 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .deliverySelectModeOfDelivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
  }

  .deliveryAddress {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 70%;
    margin-bottom: 20px;
  }

  .studentDashboardTableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px 20px;
    background-color: #fafafa;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 900px) {
  .studentDSDContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    background-color: #fafafa;
    width: 80%;
    min-height: 75vh;
    padding: 10px 10px;
    flex-direction: column;
    margin: 100px 0 50px 0;
  }

  .adminMasterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    background-color: #fafafa;
    width: 80%;
    min-height: 15vh;
    padding: 10px 10px;
    flex-direction: column;
    margin: 100px 0 50px 0;
  }

  .deliverySelectModeOfDelivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
  }
  .deliveryAddress {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 80%;
    margin-bottom: 20px;
  }
  .studentDashboardTableContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 90%;
    padding: 20px 20px;
    /* background-color: #fafafa; */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 650px) {
  .studentDSDContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    background-color: #fafafa;
    width: 95%;
    min-height: 75vh;
    padding: 10px 2px;
    flex-direction: column;
    margin: 100px 0 50px 0;
  }

  .adminMasterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    background-color: #fafafa;
    width: 95%;
    min-height: 15vh;
    padding: 10px 10px;
    flex-direction: column;
    margin: 100px 0 50px 0;
  }

  .deliverySelectModeOfDelivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 20px;
  }

  .deliveryAddress {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 95%;
    margin-bottom: 20px;
  }

  .studentDashboardTable {
    width: 95%;
    border-collapse: collapse;
    margin: 10px 20px 10px 0;
    background-color: #fafafa;
  } 

  .studentDashboardTableContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 90%;
    padding: 20px 20px;
    overflow-x: auto;
    /* background-color: #fafafa; */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
  }

}